:root {
	--clr-accent: #e78a4e;
	--clr-accent-sys: #d8a654;
	--clr-background: #282828;
	--clr-foreground: #161616;
	--clr-text: #e6cda3;
	--clr-text-select: inherit;
	--clr-bg-select: #606060;

	--br-primary: 1.25rem;
	--br-secondary: 0.625rem;

	--trans-bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);

	--width: min(100vw, (calc(100dvh * 2 / 3)));
	font-size: calc(var(--width) / 50);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background-color: var(--clr-background);
	color: var(--clr-text);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (min-width: 863px) {
	:root {
		font-size: calc(var(--width) / 35);
	}
}

::selection {
	background: var(--clr-bg-select);
	color: var(--clr-text-select);
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	margin-left: 4px;
}
::-webkit-scrollbar-track {
	padding: 0 20px;
	background: var(--clr-background);
}
::-webkit-scrollbar-thumb {
	margin: 0 20px;
	background: var(--clr-accent);
}

strong,
h1 {
	color: var(--clr-accent);
}

em,
.DM {
	color: var(--clr-accent-sys);
}

body {
	/* width: var(--width); */
	max-width: 97vh;
	min-width: var(--width);
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
	margin: 0 auto;
}
body.block-transitions * {
	transition: none !important;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: c enter;
	align-items: center;
	overflow: hidden;
	position: relative;
	/* background: radial-gradient(circle, #000000da 0%, #0000006a 40%, #0000 100%); */
}
/* #root::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.05;
	background: radial-gradient(white 3px, transparent 4px),
		url(public/icons/transmutation-1.png),
			radial-gradient(white 3px, transparent 4px),
		linear-gradient(black 4px, transparent 0),
		linear-gradient(
			45deg,
			transparent 74px,
			transparent 75px,
			#a4a4a4 75px,
			#a4a4a4 76px,
			transparent 77px,
			transparent 109px
		),
		linear-gradient(
			-45deg,
			transparent 75px,
			transparent 76px,
			#a4a4a4 76px,
			#a4a4a4 77px,
			transparent 78px,
			transparent 109px
		),
		black;
	background-size: 109px 109px, 109px 109px, 109px 109px, 109px 109px;
	background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	background-image: ;
	z-index: -5;
} */

main {
	position: absolute;
	top: 50%;
	width: 100%;
	/* max-width: 97vh; */
	height: 100%;
	/* min-height: 500px; */
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 0;
	opacity: 1;
	transition: opacity 900ms ease-in-out;
}
main.pending {
	transition: opacity 1000ms ease-in-out !important;
	opacity: 0;
}
main.show {
	top: 0;
}
main.show[data-view='main'] {
	transition: top 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
	/* transition: top 1000ms var(--trans-bounce); */
}
/* main[data-view='intro'] {
	max-width: none;
} */

.main-menu {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1 !important;
	/* background-repeat: cross; */
	z-index: 100;
}

.main-menu > h1 {
	width: 100%;
	text-align: center;
	/* font-size: min(97vh * 0.06, 6vw); */
	margin: 1rem 0;
}
.main-menu > :is(h1, h2, h3, h4, h5, h6) {
	user-select: none;
}

:is(.main-menu, .character-create) .button {
	/* width: 50%; */
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	border: 2px solid var(--clr-foreground);
	border-radius: var(--br-secondary);
	background: var(--clr-background);
	color: var(--clr-text);
	font-size: 2rem;
	position: relative;
	color: var(--clr-accent);
	cursor: pointer;
	user-select: none;
	/* text-align: center; */
}
.main-menu .button {
	margin-top: 15%;
}

.character-create {
	width: 100%;
	height: 100%;
	/* margin: auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	margin: auto 0;
	opacity: 1 !important;
	z-index: 100;
}

.character-create input {
	width: 50%;
	height: 3rem;
	padding: 0.5rem;
	outline: none;
	margin: 2rem 0;
	border: 2px solid var(--clr-foreground);
	border-radius: var(--br-secondary);
	background: var(--clr-foreground);
	color: var(--clr-text);
	font-size: 1.5rem;
	cursor: text;
}

.character-create .button {
	opacity: 0;
	cursor: default;
	transition: opacity 500ms ease-in-out;
}
.character-create .button.show {
	opacity: 1;
	cursor: pointer;
}

.characters {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	opacity: 1 !important;
	/* background-color: red; */
	z-index: 100;
}

.character-create-wrapper {
	width: 100%;
	/* height: min-content; */
	/* height: calc(min-content + 10rem); */
	/* margin-top: 2rem; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 100;
	overflow: hidden;
	/* background-color: blue; */
}

.character-wrapper {
	/* width: 30vh; */
	/* height: 100%; */
	height: 38rem;
	max-height: 50vw;
	position: relative;
	background: transparent;
	width: 30%;
	border-radius: var(--br-primary);
	overflow: hidden;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center; */
}

.character {
	width: 100%;
	height: 100%;
	/* min-width: 80px; */
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 100%;
	cursor: pointer;
	border-bottom-right-radius: var(--br-primary);
	border-bottom-left-radius: var(--br-primary);
	position: relative;
	transition: scale 100ms ease-in-out;

	/* z-index: -3; */
}

.character-bg {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(/public/icons/glimmer.png) no-repeat;
	background-size: 110% 102%;
	background-position-x: 50%;
	transform: rotateX(180deg);
	/* background-size: contain; */
	z-index: -1;
	border-radius: var(--br-primary);
	filter: brightness(0.8);
	transition: filter 100ms ease-in-out;
}
.selected .character-bg,
.character-wrapper:hover .character-bg {
	filter: brightness(1.3);
}
.selected .character,
.character:hover {
	scale: 1.05;
}
.character-wrapper.selected {
	border: 1px solid #4c4669;
	border-top: none;
	border-bottom: none;
	border-bottom-right-radius: var(--br-primary);
	border-bottom-left-radius: var(--br-primary);
}

.stage {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	z-index: -1;
}

.backdrop {
	width: 100%;
	height: calc(100% - 3.8rem);
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	/* bottom: 0; */
	z-index: -2;
	/* background: var(--clr-foreground); */
	background: url(/public/icons/icon_bg.png) no-repeat;
	/* background-size: 110% 102%; */
	background-size: cover;
	opacity: 1;
}
.backdrop:nth-child(2) {
	/* background: blue !important; */
	/* z-index: 100; */
	z-index: -1;
}
.backdrop.show {
	transition: top 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	/* transition: top 1000ms var(--trans-bounce); */
	top: 0 !important;
}
.backdrop.special {
	border-radius: 0 0 var(--br-primary) var(--br-primary);
}
.backdrop.pending:not(.backdrop-queue) {
	/* opacity: 0; */
	transition: background 200ms ease-in-out;
	/* transition: opacity 1000ms ease-in-out !important; */
}

.left,
.middle,
.right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.left,
.right {
	width: 20%;
	height: 50%;
}

.portrait-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.left .portrait-wrapper {
	border-bottom-left-radius: var(--br-primary);
	align-items: flex-end;
}
.right .portrait-wrapper {
	border-bottom-right-radius: var(--br-primary);
	align-items: flex-start;
}

.portrait-wrapper > svg {
	/* width: 100%; */
	/* min-height: 0; */
	/* height: 5rem; */
	fill: var(--clr-background);
	stroke: var(--clr-background);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	/* transform: translateY(1rem); */
}

/* .portrait, */
.dialogue-name {
	transition: top 500ms var(--trans-bounce), opacity 350ms var(--trans-bounce);
}
:is(.portrait, .dialogue-name):not(.active) {
	opacity: 0.75;
}

.portrait {
	/* height: 100%; */
	/* max-height: 100%; */
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	z-index: -1;
	background-size: contain;
	background-position-y: bottom;
	transition: bottom 500ms var(--trans-bounce),
		opacity 350ms var(--trans-bounce);
}
.portrait.show {
	bottom: 0;
}

.left .portrait {
	border-top-right-radius: var(--br-secondary);
}
.special + .left .portrait {
	border-bottom-left-radius: var(--br-primary);
}

.right .portrait {
	border-top-left-radius: var(--br-secondary);
}
.special + .right .portrait {
	border-bottom-right-radius: var(--br-primary);
}

.middle {
	height: fit-content;
	flex: 1;
	/* width: 60%; */
	align-items: center;
	z-index: -1;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	border-top-left-radius: var(--br-primary);
	border-top-right-radius: var(--br-primary);
	background: var(--clr-background);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.dialogue-name-container {
	width: 100%;
	height: 1.75rem;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dialogue-name {
	width: fit-content;
	height: 200%;
	position: absolute;
	top: 100%;
	padding: 0.2rem 1rem;
	background: var(--clr-background);
	cursor: default;
	user-select: none;
}
.dialogue-name.show {
	top: 0;
}
.dialogue-name:nth-child(1) {
	left: 0;
	border-top-left-radius: var(--br-primary);
	border-top-right-radius: var(--br-secondary);
}
.dialogue-name:nth-last-child(1) {
	right: 0;
	border-top-left-radius: var(--br-secondary);
	border-top-right-radius: var(--br-primary);
}

.dialogue-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin-bottom: 1.75rem;
	padding: 0.65rem;
	overflow: hidden;
	flex: 1;
	z-index: 120;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-menu-blinker,
.dialogue-blinker {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0.65rem;
	z-index: 200;
	border: 1px solid #fff5;
	border-radius: var(--br-secondary);
	pointer-events: none;
	animation: blink 1s infinite;
}
.main-menu-blinker {
	margin: 0;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.dialogue-text,
.dialogue-text-bg {
	width: 100%;
	/* max-width: calc(100% - 1rem); */
	height: 100%;
	min-height: 6rem;
	padding: 0.75rem 1rem;
	border-radius: var(--br-secondary);
	/* background: var(--clr-foreground); */
	background: url(/public/icons/icon_bg.png) no-repeat;
	background-size: 110% 102%;
	background-position-x: 50%;
	text-align: left;
	cursor: pointer;
	user-select: none;
	z-index: 150;
}

.dialogue-text-bg {
	width: calc(100% - 1.3rem);
	margin: 0.65rem;
	height: calc(100% - 1.3rem);
	position: absolute;
	top: 0;
	left: 0;
	/* margin: 0.65rem; */
	z-index: -1;
	/* background-color: red; */
	/* border: 1px solid #fff5; */
	border-radius: var(--br-secondary);
	pointer-events: initial;
	/* animation: blink 1s infinite; */
}
/* .dialogue-text-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	margin: 0.75rem 1rem;
	pointer-events: none;
	background: blue;
} */
.dialogue-text.waiting {
	cursor: default;
}

.dialogue-text.clone {
	width: fit-content;
	max-width: 52vh;
	height: fit-content;
	position: absolute;
	padding: 0;
	/* margin: 0.75rem 1rem; */
	top: -200%;
	left: -200%;
	background: transparent;
	pointer-events: none;
	opacity: 0;
	cursor: default;
	z-index: 100;
}

.tab-bar {
	width: 100%;
	position: absolute;
	bottom: -1.25rem;
	font-size: 0.85rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.tab-bar > .spacer {
	min-width: 6px;
}

.tab-group {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tab-indicator {
	width: 25%;
	height: 3px;
	position: absolute;
	top: 0;
	z-index: 100;
	background: var(--clr-accent);
	transition: left 100ms ease-in-out;
}
.tab {
	position: relative;
	padding: 0.5rem 1rem;
	z-index: 11;
	background: var(--clr-foreground);
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.tab:nth-child(2) {
	border-top-left-radius: var(--br-primary);
}
.tab:nth-last-of-type(1) {
	border-top-right-radius: var(--br-primary);
}
.tab > span {
	opacity: 0.6;
	transition: opacity 100ms ease-in-out;
}
.tab:is(:hover, .active) > span {
	opacity: 1;
}
.tab.active {
	cursor: default;
}

.inventory {
	--item-dims: 2.5rem;
	width: 100%;
	/* height: calc(var(--item-dims) + 1.3rem); */
	position: relative;
	padding: 0.5rem;
	padding-top: 0.8rem;
	background-color: var(--clr-background);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.inventory-item {
	--icon-border-dim: 115%;
	/* max-width: 45px; */
	width: var(--item-dims);
	height: var(--item-dims);
	position: relative;
	margin: 0 2%;
	z-index: 0;
	border-radius: 0.25rem;
	background: url(/public/icons/icon_bg.png) no-repeat;
	background-size: cover;
	/* flex: 1; */
	vertical-align: middle;
}
.inventory-item.populated {
	cursor: help;
	transform: scale(1);
}

.inventory-item::after {
	content: '';
	width: var(--icon-border-dim);
	height: var(--icon-border-dim);
	position: absolute;
	left: calc((100% - var(--icon-border-dim)) / 2);
	z-index: 2;
	background: url(/public/icons/icon_bg2.png) no-repeat;
	background-size: cover;
}
.inventory-item > .icon {
	--icon-dim: calc(var(--icon-border-dim) * 0.83);
	width: var(--icon-dim);
	height: var(--icon-dim);
	position: absolute;
	top: 2px !important;
	left: calc((100% - var(--icon-dim)) / 2);
	z-index: 1;
	background-size: cover;
}
.inventory-item > .icon,
.inventory-item::after {
	transform: scale(0);
}
.inventory-item.populated > .icon,
.inventory-item.populated::after {
	transform: scale(1);
	animation: pop 200ms var(--trans-bounce);
}
@keyframes pop {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
.inventory-item.populated:hover > .icon,
.inventory-item.populated:hover::after {
	filter: brightness(1.3);
	transform: scale(1.03);
	transition: transform 50ms ease-in-out;
}

.inventory-item.populated + .tooltip {
	width: 150%;
	bottom: 100%;
	position: absolute;
	z-index: 100;
	padding: 0.5rem;
	border: 2px solid var(--clr-foreground);
	border-radius: 10px;
	background: var(--clr-background);
	opacity: 0;
	display: none;
	flex-direction: column;
	transition: opacity 100ms ease-in-out;
}
.inventory-item.populated:hover + .tooltip {
	opacity: 1;
	display: flex;
}

.tooltip > .name {
	margin-bottom: 0.25rem;
	color: var(--clr-accent);
	font-size: 1rem;
	font-weight: 600;
}
.tooltip > hr {
	height: 2px;
	margin-bottom: 0.5rem;
	background-color: var(--clr-foreground);
}
.tooltip > .description {
	margin-bottom: 1rem;
	font-size: 0.9rem;
}
.tooltip > :nth-last-child(1) {
	font-size: 0.9rem;
}

.dock {
	--vr-width: 3px;
	width: 100%;
	/* height: 10%; */
	height: min-content;
	z-index: 10;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: var(--clr-background);
	transition: min-height 300ms linear;
}

.dock-spacer {
	width: calc(25% - 0.2rem);
	background: var(--clr-foreground);
	background: url(/public/icons/icon_bg.png) no-repeat;
	background-size: 100% 110%;
}
.dock-spacer:nth-child(1) {
	border-top-right-radius: var(--br-secondary);
	margin-right: 0.2rem;
}
.dock-spacer:nth-last-child(1) {
	border-top-left-radius: var(--br-secondary);
}

.special .dock-spacer:nth-child(1) {
	border-top-left-radius: var(--br-primary);
}
.special .dock-spacer:nth-last-child(1) {
	border-top-right-radius: var(--br-primary);
}

.options-container {
	width: 50%;
	position: absolute;
	top: -1.55rem;
	left: 25%;
	bottom: 0;
	z-index: 1000;
	background: var(--clr-foreground);
	background: url(/public/icons/icon_bg.png) no-repeat;
	background-size: 110% 102%;
	background-position-x: 50%;
	border-top-left-radius: var(--br-primary);
	border-top-right-radius: var(--br-primary);
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	/* outline: 1px solid #fff5; */
	/* border-bottom: none; */
}

.options-cover {
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	z-index: 100;
	background-color: var(--clr-background);
	transition: height 1000ms var(--trans-bounce);
}
.options-cover.open {
	height: 0;
}

.options {
	height: min-content;
	min-height: 7rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0.4rem;
	z-index: 20;
}
.options :nth-child(1) {
	border-top-left-radius: var(--br-secondary);
	border-top-right-radius: var(--br-secondary);
}

.option {
	width: 100%;
	/* height: 2rem; */
	margin: 0.2rem;
	padding: 0.25rem;
	border-radius: var(--br-secondary);
	/* border-radius: 5px; */
	/* display: inline-block; */
	background: var(--clr-background);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	z-index: 5;
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	cursor: pointer;
}
.option:hover {
	filter: brightness(1.25);
}

.dock-item {
	width: calc(50% - var(--vr-width));
	height: 100%;
	z-index: 20;
	padding: 1rem;
	padding-bottom: 0.5rem;
	background: var(--clr-foreground);
	font-size: 0.85rem;
	cursor: default;
}

.dock-item:nth-child(1) {
	border-top-right-radius: var(--br-secondary);
}
.dock.special > .dock-item:nth-child(1) {
	border-top-left-radius: var(--br-primary);
}

.dock-item:nth-last-child(1) {
	border-top-left-radius: var(--br-secondary);
}
.dock.special > .dock-item:nth-last-child(1) {
	border-top-right-radius: var(--br-primary);
}

.dock > .vr {
	height: 100%;
	z-index: 200;
	border: var(--vr-width) solid var(--clr-background);
}

.dock-item > div {
	background: var(--clr-foreground);
}

.prompt {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.history {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.history-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.history-item-name {
	color: var(--clr-accent);
	font-weight: 650;
}

.prompter-wrapper {
	width: 100%;
	height: 24px !important;
	position: relative;
	background: var(--clr-foreground);
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.prompter-label {
	left: 0;
	color: var(--clr-accent);
	user-select: none;
}

.prompter-label.disabled {
	opacity: 0.5;
	color: var(--clr-accent);
	cursor: not-allowed;
}

.prompter {
	height: 100%;
	right: 0;
	background: var(--clr-foreground);
	font-size: 0.9rem;
	cursor: text;
	flex: 1;
}

.prompter:focus {
	outline: none;
}

.prompter:disabled {
	cursor: not-allowed;
}

.outro {
	font-size: 20vh;
	cursor: default;
	color: var(--clr-accent);
}
